tbody {
  border-top: 5px solid var(--secondary-very-high);
}

.custom-search-banner-wrap h1,
.custom-search-banner-wrap p {
  text-align: center;
  color: var(--primary-50);
}

.table-heading {
  border-bottom: 3px solid var(--secondary-very-high);
}

.latest-topic-list-item {
  padding: 1em;
  border-bottom: 1px solid var(--secondary-very-high);
  display: flex;
  align-items: center;
}

.category-header div[class^='category-title-header'] {
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  border: 0px solid #e9e9e9;
  background-size: unset;
}

.category-title-header div[class^="category-banner"] {
  border-left: 6px solid transparant;
}

.category-header div[class^=category-title-header] .category-title-contents {
  padding: 89px;
  border-left: 0px;
}

.categories-list .category h3 .d-icon,
.categories-list .category h4 .d-icon {
  color: var(--primary-high);
  height: 0.76em;
  width: 0.76em;
  vertical-align: baseline;
  margin-right: 0.1em;
  display: none;
}

// Custom boxes around messages topic-lists 07/04/2023

.latest-topic-list, .topic-list {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 0 0 0 rgba(0,0,0,.12);
    border-radius: 5px;
    background-color: var(--header_primary);
}

.topic-body {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 0 0 0 rgba(0,0,0,.12);
    background-color: var(--header_primary);
    margin-top: 10px;
    border-radius: 4px;
    padding: 15px 20px 0 20px;
}

// END Custom boxes

.topic-list-item,
tr {
  border-bottom: 1px solid var(--secondary-very-high);
}

.topic-list-item.visited .topic-list-data,
.latest-topic-list-item.visited,
.category-topic-link.visited {
  a.title:not(.badge-notification) {
    color: var(--primary-high);
  }
  span.badge-category {
    color: var(--primary-high);
  }
  a.discourse-tag {
    color: var(--primary-high);
  }
}

.category-boxes-with-topics .category-box {
  padding: 0;
  background-color: var(--header_primary);
  border-radius: 10px;
  border-left-width: 0px;
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  // color: var(--header-primary);
  border-width: 0px;
  border-radius: 10px;
  border-left-width: 0;
  border-style: solid;
  border-color: var(--secondary-very-high);
}

.categories-list .category h3,
.categories-list .category h4 {
  margin-bottom: 0;
  padding-bottom: 8px;
  border-bottom: 5px solid var(--secondary-very-high);
}

.nav-pills > li a.active,
.nav-pills > li button.active {
  color: var(--secundairy);
  background-color: transparent;
  border-bottom: 4px solid var(--quaternary);
}

.list-controls .combo-box .combo-box-header {
    background: var(--secondary);
    color: var(--primary);
    border: 0px solid var(--primary-medium);
    font-size: var(--font-0);
    transition: none;
    height: 100%;
}

// Custom Material Design elemenents

.topic-avatar {
    border-top: 0px solid var(--primary-low);
    padding-top: 15px;
    width: 45px;
    float: left;
    z-index: 2;
    height: 100%;
}

.small-action {
    border-top: none;
    margin-top: 1em;
    max-width: 808px;
}

.topic-status-info, .topic-timer-info {
    border-top: 0px solid var(--primary-low);
    margin: 0;
    max-width: calc(var(--topic-body-width) + var(--topic-body-width-padding)*2 + var(--topic-avatar-width));
    margin-top: 1em;
}
